[2016-05-09 03:55] HammyHavoc opened #2 "Scalable-- meaning?"
Great repository, James, just curious as to what is meant by scalable; can a transcode be distributed across multiple machines? Or does it simply allow a larger number of concurrent streams?

I've got access to a lot of motherboards with integrated quad-core Atom CPUs, and they're okay, but they seem to struggle with larger media files (buffering), but as a cluster, I'm wondering what the possibil

[2016-05-09 15:13] yyolk commented on #2
_Elastic transcoder_ a service provided by AWS is elastic aka scalable

[2016-05-09 15:21] munnerz commented on #2
Firstly, thanks!

Currently, this doesn't add the ability to distribute a single transcode across multiple machines, it'll simply allow you to run multiple transcodes on different machines, transparently to the user. It's useful if you're running a PMS with multiple users, and not many compute resources. (or alternatively, if you wanted to build an Atom/RPi cluster whereby one transcode could run

[2016-06-13 14:02] ghost opened #3 "Questions"
Does this clienten beingen effected by the error that is taked about here?https://github.com/wnielson/Plex-Remote-Transcoder/issues/27
And does this clientent support multi type cpu. For example some slave are raspberry pi and others are x86 computers?

[2016-07-12 08:21] munnerz commented on #3
Hi there, sorry for the late reply on this..

1) No, that issue shouldn't affect plex-elastic-transcoder as we package a Docker image containing the Plex New Transcoder binary, meaning the transcoders themselves are not running the entirety of PMS.

2) Multiple CPU types will be possible (by building a transcoder image for armhf etc.), however there'll need to be a way to specify the different ima

[2017-10-18 00:59] RyanEwen opened #4 "Quick start guide"
Hi and thanks for your work!

Would you be able to write up a little quick start guide for people like myself who are new to Kubernetes and may have limited experience with Google Cloud / AWS / Azure?

I am running a machine with Proxmox and a Plex VM, but CPU resources are very limited on this machine. I feel like elastic transcode could be my savior.

[2018-01-04 15:34] SebastienTolron commented on #4
Hi Munnerz ,

This looks really great thanks a lot !

Like RyanEyen i'm pretty new to kubernetes but I can manage this. I don't know GO language which makes it hard to understand everything in this repo.

Can you make a quick start guide or explain a bit how to implement your solution ?

Thanks a lot !

[2018-01-07 13:06] munnerz commented on #4
Hey - sorry for delayed responses to issues/PRs!

So this is a very old project that I started 2yrs ago, and a lot has changed in that time. Previously it was in quite a PoC state, and was not really ready to be used. I've spent some time over the last few days bringing everything up to date and verifying it all works, and packaging all this up into a simple Helm chart!

I've opened PR #5 which ha

[2018-01-07 13:06] #3 closed, assigned to nobody

[2018-01-07 13:06] #2 closed, assigned to nobody

[2018-01-08 10:21] munnerz opened #6 "Add support for specifying resource requests/limits on transcode containers"
This is probably best to plumb in via an environment variable on the main PMS container, like all other configuration options for the 'interceptor' (i.e. main.go)

[2018-01-08 10:22] munnerz opened #7 "Version kube-plex images"
There should be some form of versioning of the kube-plex image so users can choose the correct version of kube-plex to use with PMS.

[2018-01-08 10:23] munnerz opened #8 "Write compatibility matrix for kube-plex and PMS"
Once we have #7, we should be able to build a simple compatibility matrix for users to decide what versions of Plex to use with kube-plex.

[2018-01-08 10:24] munnerz opened #9 "Making timezone configurable"
Currently the timezone is hardcoded the Europe/London. This should be a var configurable via values.yaml on the helm install.

[2018-01-08 10:25] munnerz opened #10 "Investigate ways to speed up transcode job start time"
Right now there's an approx 15s delay when playing media due to k8s scheduling, launching the pod, mounting volumes etc.

We could investigate improving this time by keeping some 'warm' transcoders. This would require a bit of an architectural change, but is absolutely possible.

[2018-01-08 10:27] munnerz commented on #4
I've now updated the repo with new instructions and new code that should make it easier to get started, provided you already have a functioning Kubernetes cluster! I'm afraid I can't go into detail here as to the best way to provision Kubernetes, but there's a number of pointers on the [official kubernetes docs](https://kubernetes.io/docs/home/).

Please let me know how you get on, either by comme

[2018-01-08 10:27] #4 closed, assigned to nobody

[2018-01-08 16:13] zenjabba commented on #10
You have just sparked in interest of the right people. Let's do this!

[2018-01-08 16:20] munnerz commented on #10
My current thoughts on how this could be done:

- Introduce some new resource to Kubernetes, a 'TranscodeJob' or 'PlexTranscodeJob'
  - This resource describes the transcode that needs to happen
- The 'interceptor' then watches for changes to the state of this resource (i.e. if it transitions to 'Failed' or 'Succeeded'
- A new controller is introduced, `plex-transcode-controller`. It:
  - watches

[2018-01-08 16:29] zenjabba commented on #10
What do you need from us to make this happen?

[2018-01-09 07:59] xer0x opened #11 "you are awesome"
sorry, i got excited seeing this project.

[2018-01-09 20:56] colek42 opened #12 "Hardware transcoding"
It looks like the current implementation does not support gpu hardware transcoding.  From my understanding, we just need the NVIDIA/AMD drivers in the plex containers to make this happen.  I can work on this if you have some direction.

[2018-01-09 20:58] munnerz commented on #12
Yep this won't pass through any additional directories needed for hardware
acceleration.

Have you got any info on how you'd enable this normally (ideally how to do
it in Docker?). We'd then just want some way to set a nodeSelector of some
sort for the pod to target the nodes with GPUs.
On Tue, 9 Jan 2018 at 20:56, Cole Kennedy <notifications@github.com> wrote:

[2018-01-10 14:54] munnerz opened #13 "Create authentication proxy sidecar container"
In order to remove the requirement to authorise the pod network universally without authentication, and to simplify the string replacement performed in the kube-plex binary, we can create an authenticating proxy sidecar container that is run alongside each instance of Plex New Transcoder.

This should listen in 127.0.0.1:32400, and simply proxy requests to the main Plex transcoder if they don't al

[2018-01-10 14:58] munnerz opened #14 "Provide option to disable remote transcoding"
The chart provided in this repository could be generally useful as a mechanism to deploy Plex on Kubernetes. We should provide an option to disable the remote transcoder functionality (i.e. don't replace Plex Transcoder) so that users can deploy a normal plexmediaserver instance as well. The chart could then potentially be submitted upstream to https://github.com/kubernetes/charts

[2018-01-10 15:36] munnerz commented on #12
I should add that you are also able to configure the image that kube-plex uses for the transcoder, so if you were to provide an image of the same version but with the drivers added in, it should work.

There is some more information on using GPUs with Kubernetes here: https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/. Looks like we need to add the following to the container spec;

[cod

[2018-01-10 15:38] colek42 commented on #12
I'll dive into this issue this weekend.

[2018-01-14 10:34] SebastienTolron commented on #4
Thanks a lot for your work bro ! I'll take take time to test this :)

[2018-01-23 22:44] warhorse-bot opened #15 "Transcoder Not Working"
Trying to play a video through the web interface and all i see is this in the logs.

[code]

The video will not play. From the looks of your go code, you're replacing three arg values for the transcoder with the PMS master address. The command I am seeing on the transcoder is. I see there are being replaced though I only see two.

[code]

[2018-01-23 22:48] #15 closed, assigned to nobody

[2018-01-23 22:50] ralphte opened #16 "Transcoder Not Working"
Trying to play a video through the web interface and all I see is this in the logs.

[code]

The video will not play. From the looks of your go code, you're replacing three arg values for the transcoder with the PMS master address. The command I am seeing on the transcoder is. I see there are being replaced though I only see two.

[code]

[2018-01-24 03:46] oliviabarrick commented on #10
I'd like to take a stab at this, so I went ahead and filled in @munnerz's spec to ensure we have the same ideas.

# Spec: Kube Plex Worker Pool

The kube-plex worker pool implements a worker pool of at least one idle worker pods for the kube-plex dispatcher. The purpose of this is to prevent cold start latency when kube-plex requests new transcode jobs.

In the old implementation, `/usr/lib/plexme

[2018-01-24 04:41] ralphte commented on #16
Problem is fixed. Here is the issue and it's one that is not very well documented in plex. In short, the internal network that you use inside Kubernetes must be an RFC 1918 private IP address. When you add the network for plex to allow unauthenticated access if plex detects that this is not a RFC 1918 private IP then it will not allow the rule which in turn will not allow the transcoder to connect

[2018-01-24 04:41] #16 closed, assigned to nobody

[2018-01-30 05:46] #11 closed, assigned to nobody

[2018-02-23 20:16] nickray opened #18 "Looking for servers"
Hi, this looks great, however... I just deployed this in my home network (with an ingress and rook storage), and upon visiting the application URL, `<url>/web/index.html` is stuck "Looking for servers....". Not sure where to start debugging this; the pod looks happy with its log ending in "Starting Plex Media Server."

[2018-02-23 22:27] nickray commented on #18
OK so port-forwarding 32400 to 32400 on the pod and visiting `localhost:32400/web` got me signed in and started.

[2018-02-23 22:27] #18 closed, assigned to nobody

[2018-02-24 03:54] jengo opened #19 "Can we have an arm build"
I was going to do it my self, but the build instructions are missing and I am not fully sure exactly how you build this project.  Ideally, it would be best to provide a multi-architecture docker image.

[2018-03-15 18:42] SebastienTolron commented on #4
Hey mate !

Thanks a lot for your answer. Sorry for the late reponse I was on holiday.

I'm going to try this.

Thanks for your support  !

Le lun. 8 janv. 2018 à 11:27, James Munnelly <notifications@github.com> a
écrit :

--
Tolron Sébastien
Ingénieur études et développement
+33 6 62 84 07 66
sebastien.tolron@gmail.com

[2018-03-19 01:02] mcronce opened #20 "Any way to "take over" an existing server?"
This is more of a question than an issue, but I'll make a PR to the docs based on the answer if it'll help :)

I've got a Plex server already, which I've migrated through all the iterations of my homelab over the past few years - which, as of today, isn't single-node Kubernetes anymore.

I'd like to retain that Plex server's database and migrate to kube-plex to take advantage of the elastic transc

[2018-04-19 04:54] tiny-dancer commented on #12
@colek42, any luck on this one?

[2018-04-19 18:39] colek42 commented on #12
I played with it for about an hour, did not make any progress.  Someday I'll hack at it again.

[2018-04-20 12:47] SebastienTolron opened #21 "Feature Request : More customization on Charts from values.yaml"
Hi Munnerz !

First of all , really great job on this helm chart. Works like a charm !

I had to make some customizations , and I think It can be pretty good to include them in the base chart.

Here is what would be good I think :

* Provide some parameters for volumes :  Some people will need to use a NFS for making this to work. You should probably allow more customizations on volumes. For exemp

[2018-04-20 13:06] SebastienTolron commented on #21
Also , allowing to  use theses nfs with pms-elastic-transcoder. It looking for a PVC class , but when creating file systems it won't work

[2018-04-22 06:52] Niksko opened #22 "Possible permissions error on first start"
Hi, really appreciate this project, it's a great piece of work

I'm trying to get set up, but I'm currently running into some (possibly permissions related) issues when the containers start.

[code]

Things I've tried:

* Creating the required folders manually. I tried creating the Library, Application Support, Plex Media Server and Codecs directories (as I made each one, it then complained about

[2018-04-22 12:43] Niksko commented on #22
Ok, after much fiddling I solved my own problem. It appears that Plex doesn't like having the config directory on an NFS share. I was using an nfs-provisioner to provision some local storage, and that's where I was getting these errors. I ripped them out and switched to using Rook (which, just fyi, doesn't seem to like btrfs) and things are working now.

This can probably be closed, and thanks aga

[2018-04-22 12:43] #22 closed, assigned to nobody

[2018-05-12 02:29] chris10136 opened #24 "Easier setup instructions"
I thought I was being stupid as after hours of trying to set this up on Google Cloud; I kept running into errors. After numerous Googles all I found was people in the same situation. Every post I found were people saying the instructions were useless. Would be great to have some instructions on how to set this up on services such as Google Cloud.

[2018-05-24 18:24] marcus-grant commented on #12
This may be of interest, I won't have time to try it out for at least a week, but basically it goes over over either using nvidia-docker hooks for nVidia devices, and DRI hooks for mesa for intel devices. The latter is probably the most interesting considering many clusters will probably be placed on public clouds running predominantly intel CPUs. There's also some interesting reference links.

[r

[2018-06-03 00:45] cheeragpatel commented on #20
Plex stores all the db info on the file system, if you mount that directory to the container it should just think its the old plex server. I'm currently running plex in docker and /config mount is what you need:

`/srv/app-data/plexmediaserver:/config
`

Where the first arg is the local disk and /config is the mount on the container.

The token is just for plexpass updates, you can have a differen

[2018-06-12 19:23] TheFuzz4 commented on #24
Did you ever find better instructions?  I'm trying to just get this setup today and it keeps telling me it has an unbound PV and I have yet to figure this out.  Thanks.

[2018-06-12 19:57] chris10136 commented on #24
No I didn't. I gave up in the end.

On Tue, 12 Jun 2018 at 20:23, TheFuzz4 <notifications@github.com> wrote:

[2018-06-12 23:10] TheFuzz4 opened #25 "Persistent Data Stores"
I've created the data store for testing purposes but during the pod creation it creates the PVC but doesn't create the PV.
I've then manually created the PV for it and tied it back to the namespace for both default and plex and sometimes it picks it up and other times it doesn't.  Thank you for your awesome work on this and I'm looking forward to getting this setup to take advantage of learning ku

[2018-07-12 15:51] SebastienTolron commented on #14
Hi James ,

Any news on this ?

That would be pretty cool for people that does not have appropriate volumes.

Thanks !

[2018-08-22 18:05] archite commented on #19
[code]

[2018-09-10 09:49] munnerz commented on #14
This is now possible via the values.yaml file!

[2018-09-10 09:49] #14 closed, assigned to nobody

[2018-09-23 09:41] admun opened #30 "transcoder pod of starting"
I am able to the chart deployed, but when I tried to play a video that start a transcoder, it seems to crashed.

Since the pod crashed, I am not sure how to get debug info out of it.

The only thing I can see:
Containers with unready status: [plex]

image: plexinc/pms-docker:latest
docker: 1.13.1
rancher 2.0.8 on Centos 7
kebelet v1.11.2

Please let me know what other env info you might need.

[2018-10-30 01:58] bgulla commented on #25
set a minimum size of 40gb.

[2018-11-04 20:50] EasternPA opened #33 "Cannot import as a Helm repo"
Your effort here is much appreciated. I've been running everything in Docker under Ubuntu 16.04 this year thanks to plexguide.com but would rather run it in [IBM Cloud Private](https://github.com/IBM/deploy-ibm-cloud-private) (ICP). The bananaspliff [repo](https://github.com/bananaspliff/geek-charts) goes a long way towards enabling the supporting tools and can be directly registered as a Helm rep

[2018-11-07 03:05] billimek opened #37 "integrate Tautulli?"
Is there any interest in adding an _optional_ integration with [Tautulli](https://github.com/Tautulli/Tautulli) in kube-plex?

As the Tautilli (formerly plexpy) implementation requires access to the Plex logs in the plex runtime filesystem, running this as a sidecar seems like a logical choice.

If this is something that would be accepted, I'm happy to take a crack at a PR to implement this featur

[2018-11-07 03:06] billimek opened #38 "Submit to the official helm charts repo"
I found [this old issue](https://github.com/helm/charts/issues/3289) but it looks like nothing ever happened with this.

Is there interest in revisiting the inclusion of this plex chart to the [official helm charts repo](https://github.com/helm/charts)?

[2018-11-07 05:23] billimek opened #39 "readinessProbe & livenessProbe?"
There is currently no readiness or liveness probes.  Can we consider adding something like this?

[code]

[2018-11-07 05:27] Arcanemagus commented on #37
Tautulli actually has no requirement on access to the Plex logs. In fact the only usage it can get out of them is as a nicer log viewer for the user than the raw files, but that's essentially it. All monitoring of a Plex server is done over a WebSocket connection.

[2018-11-07 05:33] billimek commented on #37
This is great news, thank you!

[2018-11-07 05:33] #37 closed, assigned to nobody

[2018-11-24 00:12] mcronce commented on #38
This would be cool to see.  It looks like only a couple minor changes were needed.  @munnerz I would make a PR to this repo with those changes if it means they'd be submitted to helm/charts - I don't want to take the credit for your work just because I changed a couple lines in a YAML file ;)

[2018-12-12 02:35] billimek commented on #38
With the new [helm hub](https://hub.helm.sh/), adding this chart could be a lot easier, it's basically outlined in [this document](https://github.com/helm/hub/blob/master/Repositories.md)

[2018-12-24 18:03] justinrush opened #41 "support nfs mounts in kube-plex?"
Was easy enough to modify the main kube plex chart to mount in nfs ephemeral volumes, but the go script looks a bit more complicated and I'm unfamiliar with GO so can't really modify it.  Looks like the plex transcode pod generated by the go script expects to be able to read from the directory.

Ideally I'd have this in the values.yaml to allow for overrides:
`media:
  #- name: nfs-tv
    #path: /

[2018-12-25 10:49] JSteeleIR commented on #41
I've been able to get NFS mounts to work in kube-plex, but it seems that the kube-plex started PMS container (the one responsible for doing the actual transcoding) doesn't run the traditional PMS "first-run" script, and therefore doesn't apply the UID/GID that's been passed to Plex. This leaves the transcoding container trying to operate on files in the NFS mount as root, while the PMS container i

[2018-12-25 13:02] justinrush commented on #41
Mind passing along the go script you used to do that?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: JSteeleIR <notifications@github.com>
Sent: Tuesday, December 25, 2018 4:49:17 AM
To: munnerz/kube-plex
Cc: Justin Rush; Author
Subject: Re: [munnerz/kube-plex] support nfs mounts in kube-plex? (#41)

I've been able to get NFS mounts to work in kube-plex, but

[2018-12-25 19:32] JSteeleIR commented on #41
Thus far, I haven't had to modify any of the go.

To get NFS working, I manually created the PVs and PVCs corresponding to my config, data, and transcode directories, and specified them in the appropriate places in the chart values.yaml. With some tweaks to the values/deployment template, I managed to get the plex UID/GID pushed into the created container, and it seems to be behaving aside from tr

[2018-12-26 00:35] justinrush commented on #41
Ah, I have multiple NFS mounts for the media, so that won't work for me.  But +1 for documenting the enabled flag :)  that got me a few times.

I'll take a look at the GO script later this week and see if I can come up with a proposal that works for more than just me.

[2018-12-26 00:38] justinrush opened #43 "expose ADVERTISE_IP"
In order for smart devices, like TVs with the Plex app, to hit the plex server, it needs to have the ADVERTISE_IP set to the IP of the l4 load balancer.  I did this locally setting the ENV var and exposing it as an option in values yaml - would be cool if it could figure out what the L4 LB IP was and set it manually rather than me doing it after deployment.

[2018-12-27 03:06] JSteeleIR opened #44 "kube-plex runs transcode as root, not plex UID/GID."
As far as I can figure out, the elastic-transcoding pod gets started by the kube-plex shim with the entrypoint overidden as the call to the transcoder, not the normal PMS entrypoint. [0] This makes sense, as we don't want to run the whole server, just the transcode job. Additionally, the plex user in the transcode pod is the default, not whatever's been passed via PLEX_UID/PLEX_GID to the PMS pod.

[2019-01-03 16:08] jstgnkl commented on #44
Hi JSteeleIR,

Did you manage to make this work? I applied [your commit ](https://github.com/JSteeleIR/kube-plex/commit/bb202203375f8910243de06c60d33d2d2ac288eb) to mine. A transcode pod get spun up but it shows loads of connections errors.

NAME                              READY   STATUS    RESTARTS   AGE
plex-kube-plex-865dcfc6b9-87c2d   1/1     Running   0          26m
pms-elastic-transcoder-7

[2019-01-04 02:52] JSteeleIR commented on #44
Hey zenety,

Glad to hear you got it working!

Those logs initially make me think that maybe the arg rewrite in [0] isn't replacing the localhost parameter with the pmsInternalAddress. But you say that setting the 'allowed without auth' subnet fixed the problem?

[2019-01-10 02:26] mechinn commented on #43
You can also just set it manually in settings > network (advanced) > Custom server access URLs that way if you manually change that setting through the UI it isn't overwritten if the main deployment pod restarts from the env var

[2019-01-12 18:10] rmb938 opened #46 "Unable to pull image with containerd"
[code]

However docker is able to pull it fine

[code]

I am guessing something with the image is breaking containerd.

I found this related issue https://github.com/containerd/containerd/issues/2840 that may or maynot be related. I am able to pull other quay images perfectly fine so it may just be the kube-plex image.

[2019-01-12 20:07] rmb938 commented on #13
@munnerz Do you have an example on what the auth headers are and what they should contain? It seems like the plex whitelist only allows RFC 1918 ips however my kubernetes clusters is deployed with 100.64/10 ips so the whitelist doesn't work.

[2019-01-18 15:43] billimek opened #47 "chart healthcheck"
We need proper readiness and healthchecks for this.

It looks like `identity` endpoint (ref https://github.com/plexinc/pms-docker/blob/master/root/healthcheck.sh) would be the proper thing to do.

I'm planning to submit a PR for this, please let me know if you know of an alternative or better approach.

[2019-01-20 08:18] OGKevin opened #49 "Transcode pod is not created with subpath"
When i play a video that requires transcoding, the transcode pod dies immediately with the following logs:

[code]

however, I'm not quite sure why this is happening. When i enter the main plex container i can see the dir:

[code]

any ideas?

[2019-01-20 08:24] OGKevin commented on #49
Ahh the PMS pods are not using subpaths while the main plex pod does if you specify it!

https://github.com/munnerz/kube-plex/blob/df3daeafd728c4f0d5c567b2d9bb0565c5cf5e52/main.go#L138-L164

https://github.com/munnerz/kube-plex/blob/df3daeafd728c4f0d5c567b2d9bb0565c5cf5e52/charts/kube-plex/templates/deployment.yaml#L102-L120

I'll see if i can make a PR to fix this :)

[2019-01-20 09:05] OGKevin commented on #49
hmm just re-read the k8s doc on subpath now I'm not entirely sure if this is the root cause.

[2019-01-20 09:42] OGKevin commented on #49
Yea its due to subpath. Plz let me know if a PR is welcome.

[2019-01-23 03:13] billimek commented on #39
Fixed via #48

[2019-01-24 13:30] #47 closed, assigned to nobody

[2019-02-02 22:12] djerfy commented on #44
Hi,

I have the same error in output but the transcoding works. Output:
[code]

If you have an idea?

Edit: not related with your changes, I have the same error from original code

[2019-02-10 00:20] Stackout commented on #44
I'm also getting this error.

`Clipping frame in rate conversion by 0.014168
[http @ 0x2cea2e0] Setting default whitelist 'http,https,tls,rtp,tcp,udp,crypto,httpproxy'
[tcp @ 0x380a200] Connection to tcp://127.0.0.1:32400 failed: Connection refused
[libx264 @ 0x26cb7c0] frame=12155 QP=18.46 NAL=0 Slice:B Poc:82  I:0    P:40   SKIP:815  size=103 bytes
[http @ 0x38f6720] Setting default whitelist 'h

[2019-02-10 15:16] Stackout commented on #44
I'm getting this same error from the original code and the patched commit you did. I exec'ed in to the container and was able to curl my machine's address, but 127.0.0.1 doesn't seem to respond.

[2019-02-20 04:13] JSteeleIR commented on #44
Haven't had a whole lot of time to loop back to this lately, but hoping to get back to it sometime soon.

@djerfy  Any chance that setting the "list of IP addresses and networks that are allowed without auth" that @zenety mentioned above solves the problem? It's interesting that transcoding works, even with the error messages. I wonder if this loopback connection might just be used for debug loggi

[2019-02-28 02:02] gandazgul commented on #49
@OGKevin did you resolve this? I need this feature.

[2019-02-28 02:06] gandazgul commented on #24
Unbound PVC means you havent created a PV for it. I cant remember if the Google cloud kubernetes auto provisions volumes or not, but try creating volumes with the same sizes as those requested with the claims.

[2019-02-28 02:08] gandazgul commented on #21
Check out my PR for this: https://github.com/munnerz/kube-plex/pull/51

securityContext and ingress have been added as well since you wrote this.

[2019-03-01 09:14] OGKevin commented on #49
@gandazgul i could not use subpath, as i needed to rebuild the binary that was spawning the pods and rebuild the image. So i just opted to not use subpath as it was too much of a hassle.

I ended up not being able to use this as the spawend pod that transcode kept dying or was not able to transcode and i just gave up on it. It workes fine w out the transcode pods. If i see i need them again ill pr

[2019-03-01 15:45] gandazgul commented on #49
yeah, I do get some issues with network speed but I'm sure if its the pod or something else. ok. thanks for the reply.

[2019-03-10 22:18] metrafonic commented on #44
Hi! Im also having some of the same issues as some of you have. Curling 127.0.0.1:32400 from the kube-plex gives me an unauthorized error, the transcoder however, gets a connection refused at 127.0.0.1:32400. Curling the node IP of the kube-plex from the transcoder works fine with no authorization errors.

My helm setup looks like this:
``
helm install ./charts/kube-plex --name plex --set claimTok

[2019-04-02 23:19] Just-Insane opened #53 "Support for newer PMS versions"
Are there any plans to support newer Plex versions?

The imaged used in values.yaml is a year old at this point, and trying to use anything newer fails to start a transcoder pod.

The error is "Conversion failed. A required codec could not be found or failed to install."

It also appears kube-plex's docker image has not been updated in a year either.

[2019-04-03 12:08] Just-Insane commented on #53
It is possible it was just a weird issue with the media.

Tried it again with the latest tag and it seemed to be working.

Off topic, but what’s the best way to get metrics about the transcode?

[2019-04-14 05:02] billimek commented on #12
I got this working in the `plexinc/pms-docker` container part of this helm chart, FWIW:

![image](https://user-images.githubusercontent.com/6393612/56088464-7a5f3d00-5e4f-11e9-8faf-204bff620660.png)

In my case one of the k8s nodes is running as a VM to a guest with a Skylake CPU that is exposing the intel GPU to the ubuntu VM running the k8s node (via iommu & gvt device virtualization).  I'm also

[2019-04-15 15:25] munnerz commented on #12
I have also got this working with an old nvidia GPU using the nvidia device plugin. It requires:

* Install the NVIDIA device driver (can probably be done using an init container/daemonset and the nvidia install container) - I installed this on my host machine in testing
* Install the NVIDIA kubernetes device plugin
* Add `nvidia.com/gpu` resource limit to the plex container:

[code]

* Add the `N

[2019-05-06 21:07] cyclingwithelephants opened #55 "Question: Nvidia Jetson GPU compatibility"
Hi,

I was wondering if this could utilise GPU decoding on a Nvidia Jetson nano.

I would like to run this on kubernetes in a Jetson nano along with rockpro64's.

[2019-05-12 20:51] ivveh commented on #53
I'm currently experimenting with kube-plex and so far I have found failures that are related to EAE codecs. However, if the media does not require those codecs, it spawns pods and transcodes.
Anyways, the ENV variable in the PMS is pointed into /tmp, i.e: EAE_ROOT: /tmp/pms-71e1831f-bbd9-46a8-badf-1275bccdeb0e/EasyAudioEncoder
But the containers /tmp is empty...

[2019-05-13 20:13] ivveh commented on #53
Forgot to add, altho this problem exists, new version run just fine.

[2019-05-13 20:36] Just-Insane commented on #53
As I recall, the errors reported when trying to run a newer version were all codec errors, so this would make lots of sense.

Do you happen to know where to get the codecs from?

________________________________
From: ivveh <notifications@github.com>
Sent: Monday, May 13, 2019 4:13 PM
To: munnerz/kube-plex
Cc: Justin Gauthier; Author
Subject: Re: [munnerz/kube-plex] Support for newer PMS versions

[2019-05-13 20:41] ivveh commented on #53
Nope, I just updated the helm chart with the latest tag of the PMS and then just upgraded it. I can see the /tmp/<randomuuid>/EasyAudioEncoder/ dir in ENV on the elastic pods as well as it being empty when I look inside them.. I have no plugins or codecs installed. I'm guessing the dir can be pointed to /transcode in order to get it to work but the plex pod would probably need it too, I guess. I d

[2019-05-13 20:48] ivveh commented on #53
Or it simply doesn't have correct permissions to /tmp.. which is usually a problem with containers.

[2019-05-20 19:11] vFondevilla opened #56 "Transcode not working"
Hi,

I just deployed the chart in a K8s 1.14.1 cluster, using NFS PVC. The PMS server starts correctly and when transcoding the stream fails with the following errors in the transcoding pod:
`[tcp @ 0x7f040c047a00] Connection to tcp://127.0.0.1:32400 failed: Connection refused
[libx264 @ 0x33d9d60] frame=1455 QP=30.87 NAL=2 Slice:B Poc:350 I:0    P:11   SKIP:499  size=86 bytes
[http @ 0x357d8c0] S

[2019-05-28 03:34] billimek opened #57 "Integrate UnicornTranscoder"
There is now a [docker container](https://github.com/magn2o/unicorn-docker) for [UnicornTranscoder](https://github.com/UnicornTranscoder/UnicornTranscoder) & [UnicornLoadBalancer](https://github.com/UnicornTranscoder/UnicornLoadBalancer).

We should consider what it would look like to integrate the UnicornTranscoder 'system' into kube-plex.

From [this comment](https://github.com/UnicornTranscoder

[2019-05-29 08:36] ivveh commented on #57
Sounds promising

[2019-06-02 00:40] jp83 opened #58 "Deployment or StatefulSet"
As I'm coming up to speed on k8s, and in particular testing with kube-plex, I'm wondering if perhaps the chart should deploy Plex media server as a StatefulSet instead of a Deployment.  I can across this relevant discussion that made me wonder.

https://github.com/helm/charts/issues/1863

My main reasoning is the config directory that has all the metadata, watch history, and I think whatever they

[2019-06-02 00:53] jp83 opened #59 "tmpfs ram for transcode volume?"
Has anybody using kube-plex considered using ram for transcoding or was that a passing fad?  It seems you'd need to define an EmtpyDir volume, since by definition it's not a "persistent" volume you can associate.

Architecturally, does the distributed transcoding rely on shared storage or a network socket to pass data back from worker to stream out?  Haven't quite gotten that to work yet either, b

[2019-06-07 00:36] knucklehead101 commented on #56
I am getting this as well in a 2.x cluster.  working on figuring it out but has anyone else figured it out yet?

[2019-06-18 04:22] tardich commented on #56
Got the same here as well (K8S 1.13.5). Added the 127.0.0.1 (as I thought it would be possible that the transcoder pod to try the loopback for connection back to the media server) bt it didn't help

[2019-06-18 12:43] Nornode opened #60 "Integrate rclone mount for Plex Storage?"
Ever thought of implementing rclone in the image?
https://rclone.org/commands/rclone_mount/
This would enable an unlimited storage backend (e.g. Google Drive)
IT would also release the need for cumbersome NFS shares.

[2019-06-18 17:42] tardich commented on #56
Apparently, the latest plex image (**1.16.0.1226-7eb2c8f6f**) fixes the "_Connection refused_" issue. Updated the values file, then updated the helm deployment,.

The logs of the transcoder now shows me that it connects to the plex-kube-plex service, That said, I don't have more success rate on the overall thing. The trnscoding seem to be damn slow. Maybe because my storage is ceph underneat?

[2019-06-18 17:48] jp83 commented on #56
When I recently tried this for the first time a couple weeks ago it seemed to be working, as in the dynamic transcode worker pod spun up and was creating files in it's directory, however the playback from the browser was just stuck spinning and never streamed any video.  Any ideas on that?
I didn't realize it myself either, but I think the delay you're experiencing is one of the problems with this

[2019-06-18 18:06] vFondevilla commented on #56
Same here, I disabled the transcoding pods and I'm using the parent pod for the transcoding, that way works correctly.

[2019-06-18 19:07] tardich commented on #56
How did you do it? In the helm chart only or if you need to do something else?

[2019-06-18 19:53] tardich commented on #56
Ah! Got it, and I can now stream easily (well....  I can now see the video from Firefox in my workstation

Another issue I have is the ability to "discover" my plex server from a uPNP/DLNA client (for example Kodi), now that my server resides inside Kubernetes. My network design, basically, is this:

Workstations are located on a flat lan. From there, I have a router, which also connects the kuber

[2019-06-18 19:59] knucklehead101 commented on #56
I will have to give it another go.  I have been playing with UnicornTranscoder but having some issues in putting it behind the Layer-7 LB in Rancher/Kubernetes.  Is anyone else playing with Kube-Plex in Rancher?

[2019-06-18 20:05] chtardif commented on #56
That's a Rancher setup I have, by the way.

[2019-06-18 20:09] billimek commented on #56
@knucklehead101 I'm running kube-plex as a helm chart in a k8s cluster provisioned by rke (which is a rancher thing but not running rancher directly).  I also pass-through the intel iGPU to the k8s worker node where plex is provisioned so plex native transcoder can use GPU transcoding.

* [rke node setup for igpu](https://github.com/billimek/k8s-gitops/blob/master/setup/cluster/cluster.yml#L23)
*

[2019-06-18 20:11] jp83 commented on #56
I used rancher to setup my cluster with a master and 2 worker nodes in RancherOS VMs.  I'm using MetalLB L2 loadbalancer and traefik reverse proxy for ingress.  I had some problems defining the LAN, no auth, and services addresses in the config besides just putting in the cluster IPs.  I gave my VMs 2 network interfaces, one on my LAN and another on a separate storage network VLAN.  What I'm stuck

[2019-06-18 23:09] knucklehead101 commented on #56
@jp83  I have seen weird things come about such as what you're experiencing when the interfaces are in the wrong order.  try flip flopping them

@billimek  I am now officially jealous.  I have an old medical imaging system with an NVIDIA Tesla card in it.  I may try to see if I can get that to work.  What OS are you using for your host?

[2019-06-18 23:56] jp83 commented on #56
@knucklehead101 thanks for the suggestion, i do have the storage vlan first in the VM settings on ESXi, but I defined the static IPs in relation to the mac addresses via cloud-config when I set it up.  I just tried swapping them, and that definitely hosed things up because some things on the dashboard were in failed states related to that node.  Is that what you meant, any other ideas?

[2019-06-19 01:39] knucklehead101 commented on #56
@jp83 yea that is what I had on my mind.  I think that some apps consider the first NIC as the default so it reports the wrong IP.  I tinker a lot so if this were happening in my lab I would likely tear it all down and rebuild it while having the NICs ordered differently to see if that fixes it.  Since I am still quite a noob I know no other way to do it, unfortunately.

[2019-06-19 01:41] tardich commented on #56
You may likely be having to play with iproute2 and different routing tables. SHould do the job

[2019-06-20 03:09] tardich commented on #56
@knucklehead101 And how did you manage to see your plex server outside of Kubernetes? As far as I know, DLNA is a multicast protocol which does not play well with Kubernetes...  well in fact, my k8s cluster sits behind a router from my workstations point of view, which make things even more difficult...

[2019-06-20 12:35] mauroniewolskicesca commented on #19
I forked the project, modified it and now using it on my arm64 device https://github.com/mauroniewolskicesca/kube-plex-arm64

[2019-06-20 13:10] jp83 commented on #56
I haven't see @munnerz active in a bit, hopefully it's ok to continue these types of discussions here not sure if it's better to separate out issues.

@tardich I'm not specifically using DLNA but I'm using MetalLB so the plex pod gets an IP directly on my LAN not just inside the cluster.

@knucklehead101 my network interfaces are in the "correct" order on a second node and when running over there

[2019-06-20 21:41] geek-baba opened #61 "Sub directories under data dir are not owned by plex"
The mounted claim under data directory have root as the owner, I even tried to update the deployment and passed the uid and gid, however the sub directories still owned by root. Not sure if this is being developed actively but, great concept!

[2019-06-21 04:39] knucklehead101 commented on #56
@tardich I don't use the DLNA function so that isn't an issue.  However, the setup that I was trying to use most recently didn't utilize kube for plex itself.  WIth UnicornTranscoder it does some http redirects from their load-balancer to the transcode containers but I would rather get this solution up and running.  As of 30 min ago I have 3 proxmox hosts up and running and I am trying to follow t

[2019-06-25 15:12] simplyzee commented on #60
Hi @Nornode

Thanks for creating an issue about rclone. I agree that there is a need for potentially using rclone considering there's a lot of users out there who use Cloud Storage backends for their media. I don't necessarily think it should be part of kube-plex but I think a separate rclone pod might help in this case. It could run side by side with kube-plex along with kube-plex reading the PVC

[2019-06-25 19:21] Nornode commented on #60
My Pleasure! - Thanks for working on this!
Yeah, pod side-by-side is probably the better way to implement it.
If there's any base/draft on this I'd be happy to help improve it.

[2019-06-28 00:30] tardich commented on #43
@justinrush Is the ADVERTISE_IP supposed to be the IP address that is getting set as the "Private IP" in the GUI?  In my case, it does not work. I have it set in the deployment file, and I can see it when doing a describe of the pod, and can see it as an environment variable into the pod. The the "Private IP" still is the pod IP instead of the one set in the ADVERTISE_IP env. variable.

[2019-06-29 01:31] simplyzee commented on #60
Hey @Nornode,

I've just published my kube-rclone repository solution for Kubernetes - [https://github.com/zee-ahmed/kube-rclone](https://github.com/zee-ahmed/kube-rclone)

It's still very fresh so there's some work to be done for it to be compatible across several services (not just Plex itself) 🙂

A PR needs to be done on kube-plex side to support rclone but if you want to give it a go, you'll j

[2019-06-29 11:47] justinrush commented on #43
@tardich ADVERTISE_IP is the IP that the service will tell clients to connect to.  The pod IP will always be the internal k8s cluster ip.

[2019-07-04 02:21] bgulla commented on #55
+1

[2019-07-09 03:42] tardich commented on #43
@justinrush OK so, apparently, something's not working well with my setup then. I have the POD IP of, right now, 10.42.2.60. My service IP is 10.43.90.23, and the exposedIP (the IP given by the loadBalancer) is 192.168.212.3, which is advertised to the router with the BGP protocol (can see it in the routing table). The GUI is accessed through my ingress controller.

So let's say I want to access t

[2019-07-16 13:08] Confusingboat commented on #55
+1

[2019-08-03 21:10] msenebald commented on #60
I just started to extend the chart to mount additional pvc to the pms container.
It could be more flexible to allow also for container volumes.
Check it out here: https://github.com/msenebald/kube-plex/tree/additional_pvc/charts/kube-plex

No PR yet for this. Stil playing around with it.

[2019-08-08 14:46] mcadam commented on #10
I might take another stab at that one, I have some time on my hands lately and have more people on my server so would be nice to have an operator dispatching transcode jobs across the cluster :)

[2019-08-10 22:01] mcadam commented on #56
Anybody got it working even with the error "connection refused on 127.0.0.1".
I created myself a kubernetes operator to have the idle pool of workers waiting etc, all that is kind of working for now, but now the stream does not start :(

[2019-08-11 00:15] mcadam commented on #56
Ok never mind got it working now, I removed the ReadOnly flags on the volumes of the pod doing the transcode and its now working, maybe some other have that issue as well. Anyway now running the last version and transcode jobs dispatch in new pods. Having idle pods in a queue waiting for the next job is getting me really good results. It looks as fast as it was all in the same container :)

[2019-08-11 00:17] mcadam commented on #10
I got something working now with a kubernetes operator, its going pretty well after a couple tests, the startup time for a stream is now back like if it was in the same container so pretty cool. I will push something when I am done with the cleanup part

[2019-08-11 13:40] onedr0p commented on #10
That's good to hear, I've been following this project for awhile and this issue was a major blocker for me.

[2019-08-13 15:20] mcadam commented on #10
For those who want to try that one and raise issues or feedback, please raise on the operator repository here https://github.com/mcadam/plex-operator thanks

[2019-08-13 15:53] onedr0p commented on #10
Great work! I wish I was able to test. I am still working on my arm k3s + GitOps cluster. I will provide feedback whenever I get this far.

[2019-09-28 00:58] Daxiongmao87 opened #67 "Optimized files fail during transcoding"
if you set up a claim for data, this only gets set as readonly for pms-elastic-transcoders, as seen in main.go file.  This causes issues when optimizing videos and you wish to keep them in the same directory as them.

[2019-10-16 16:51] scruplelesswizard commented on #61
Hello @shwetkprabhat, thank you for your issue!

Can you provide a little more detail about your request? Do you expect that the data directory would be mounted as a specific user, or do you expect that kube-plex would `chown` the data directory recursively?
My apologies, I am not exactly sure what you mean with 'claim'. Is this somehow in reference to the Plex Claim Token?

[2019-10-16 16:56] scruplelesswizard commented on #56
@mcadam how did you remove the `ReadOnly` flags from the transcode pods?

[2019-10-16 18:19] geek-baba commented on #61
hello @chaosaffe, I am expecting that the data directory would be mounted as a specific user.

[2019-10-16 19:09] scruplelesswizard commented on #39
@billimek can you close?

[2019-10-16 19:10] #39 closed, assigned to nobody

[2019-10-16 19:22] scruplelesswizard commented on #24
@chris10136 can you give some more constructive feedback on where you were running into issues?
Certainly happy to improve the setup instructions, but I am unsure where to begin.

As for running on GCP, Compute Engine persistent disks do not offer _ReadWriteMany_ support (xref: [Persistent Volumes](https://cloud.google.com/kubernetes-engine/docs/concepts/persistent-volumes), Access Modes)

This is

[2019-10-18 14:21] NigelVanHattum opened #69 "Expand the readMe"
I'm trying to set this up, bu I have no experience with GO and Helm. I'm not sure how to get started.

[2019-10-18 14:45] simplyzee commented on #69
Hi @NigelVanHattum - is there anything, in particular, you're having trouble with?

[2019-10-18 15:09] NigelVanHattum commented on #69
It's mostly how to get started, what is needed. Where do I need to execute it. How can I configure it. Do I need a running Plex server, do the nodes need to have acces to the media?

I may sound like a beginner, but I am :)

[2019-10-27 22:28] mcadam commented on #56
I am using my own kubernetes operator to create to transcode pods so just dealing with the volumes differently than the script used in that repo. But you could modify the main.go file and remove the flag in there, recompile and use that instead of the one created from this repo.

[2019-11-07 04:23] denebeim commented on #21
I've been digging into the code today.  This is not really doable in the current design.  The main code here that creates the pod is a static structure.  Basically every different storage type, etc would cause a bunch of special case logic.  The code here is going to take some major restructuring to make it work.  Either it's going to have to introspect the pod and create a new one like it, or be

[2019-11-07 04:35] denebeim opened #70 "Add versioning"
This seems to be pretty active.  There's a bunch of dockerhub pushes of this code.  There's no version on it.  Nor tag.  Seriously if you're going to push anything to dockerhub at least put a tag on the github version you built it from.  Ideally you should have a matching github and dockerhub version or at least a git checksum.

[2019-11-07 05:03] gandazgul commented on #21
I think asking the API for the pod details and creating the other ones with the same settings is the way to go. This way the chart can be customized in almost any way without changing anything else.

[2019-11-07 18:56] denebeim commented on #21
Yes, that's exactly what I was thinking.  Either that or just take whatever configuration the plex server is running.

[2019-12-08 21:19] rafabiela opened #71 "unknown flag: --name"
Hello everyone
would it be a different way to install?
thanks

helm install ./charts/kube-plex --name plex \
    --namespace plex \
    --set claimToken=XXX \
    --set persistence.data.claimName=existing-pms-data-pvc \
    --set ingress.enabled=true

Error: unknown flag: --name

[2019-12-12 08:20] Kab1r commented on #71
[code]

[2019-12-14 17:44] cyclingwithelephants opened #73 "A question about distribution of transcoding"
Hey folks,

Sorry I have a small question about this awesome piece of software.

Is it possible to distribute one transcode job over multiple pods or is it 1 transcoding pod per video stream?

[2019-12-15 07:29] Kab1r commented on #71
Pull Req #72 Fixes this

[2019-12-21 22:43] red-avtovo commented on #56
If someone is still guessing how to disable on-demand transcoding pods - just add this argument to helm command `--set kubePlex.enabled=false`

[2019-12-22 15:44] yoonsio opened #74 "does config persistence volume claim really need 20Gi?"
does config persistence volume claim really need 20Gi?
what are ideal volume sizes for config and transcode?

[2019-12-22 18:14] #74 closed, assigned to nobody

[2020-01-10 18:15] geek-baba commented on #61
@chaosaffe I did not clarify the claim question, its basically the media dataset on a nas server, defined by persistence.data.claimName

[2020-01-11 15:32] billimek commented on #38
The `helm/charts` repo is [being deprecated](https://github.com/helm/charts#deprecation-timeline), so helm hub is the path forward.

@munnerz, I have a solid github actions implementation that will lint and test charts (via KIND) for all pull requests and then automatically publish charts as a repo release.

I'm going to submit a PR to implement the github actions in this in repo, but to fully imp

[2020-01-13 18:11] billimek commented on #33
#38, once implemented, should resolve this issue.

[2020-01-13 20:12] #71 closed, assigned to nobody

[2020-01-15 23:25] putty182 commented on #60
FWIW, I've had a bit of trouble getting rclone to work over nfs, but one option that did work was having rclone mount into hostPath, deployed as a DaemonSet, with a PV/PVC pointing to the same hostPath, and a postStop life cycle hook to ensure the unmount occurs.

[2020-01-17 18:53] munnerz commented on #38
Sounds good to me 😄 although I'm not too sure what we're best to name the
repo namespace... If we name it 'munnerz' then I'll need to consider how
I'll ever release my own other charts in future given it'll be tied to this
repo 😬

On Sat, 11 Jan 2020 at 15:33, Jeff Billimek <notifications@github.com>
wrote:

[2020-01-17 19:58] billimek commented on #38
I think `munnerz` is fine!  For example, I have a [collection of charts in helm hub](https://hub.helm.sh/charts/billimek) as `billimek` repo, for lack of a better name.  There are similar-personal-named 'repos' in the list there as well.

[2020-01-18 16:45] Krm1t opened #80 "Problem with health probes"
Hello

I'm trying to get this up and running but am running into problems with the live- and readyness probes. I keep getting Connection Refused on them.

I've already tried to disable the probes so i could connect to the container.
If i then run "curl localhost:32400" or "curl localhost:32400/identity" from within the container i get connection refused on both calls.

Both of my shares are nfs sh

[2020-01-20 14:04] drewstinnett commented on #60
@msenebald , I hadn't noticed this issue, but I submitted a pull request a couple days ago to support the additional volumes, hopefully it's helpful! #79

[2020-01-23 09:47] Krm1t commented on #69
Although I'm currently stuck in getting kube-plex to work I do have some input to this.

 - Prerequisites should include a working Kubernetes server and Helm be installed.
 - Considering the above, it should probably be made clear that setting this up is not for beginners
or at least you have to want to spend some time getting to know Docker and Kubernetes.
 - While installing Kubernetes and Helm

[2020-01-23 12:16] Krm1t commented on #73
My guess would be no - Although not really my area of expertise.

Think about it.
You (the client) want to watch a movie
so plex tells you to connect to a pod called P1
P1 then tells 2 other pods (P2 and P3) to split the transcode of the movie between them
but because it is a movie you need it to come in order i.e. first bit first and last bit last.
Therefore P1 needs to return the data to the cli

[2020-01-26 19:51] onedr0p opened #81 "cert-manager and SSL for reverse proxy, insecure connections"
Edge case here. I have this plex chart up and behind nginx-ingress. However my connections are Insecure when streaming, even though SSL is enabled and working for the Plex Web UI from my `https://plex.mydomain.com` domain.

Does anyone have this working? My guess is I need to add the pfx file to my Plex server settings but I don't know how to obtain this from `cert-manager` (or better yet automate

[2020-01-26 20:17] donicrosby opened #82 "Transcoding Pods not being created when video is being played"
After upgrading the Plex server image to the most recent version transcoding pods are no longer being created.

[2020-01-27 00:36] shrinedogg opened #83 "Plex pod can't reach internet."
Hello, love the idea of moving my Plex to this. I'm using microk8s on a single-node cluster that utilizes MetalLB (from the latest built-in microk8s snap release) and I've got a running pod that I can reach through the browser on port 32400 and begin configuring. Problem is I can't Claim the server, and when it tries to crawl for info, it gets nothing.

Having finally made it this far, I'm stopped

[2020-01-27 03:01] erkerb4 opened #84 "Unable to transcode - No such file or directory"
Removed

[2020-01-28 01:48] #83 closed, assigned to nobody

[2020-01-28 01:52] shrinedogg commented on #83
Just commenting that for this issue, the solution was defining a static IP, gateway, and DNS in netplan for Ubuntu 18.04.3. After that, and a reboot of the node, my pods had the ability to reach the internet.

[2020-01-28 01:57] shrinedogg commented on #82
I just got my Kube-Plex up on latest and am having the same issue. The pods are all green, and Plex even believes it to be playing, but the client doesn't play.

[2020-01-31 03:44] Wetteborn commented on #69
@Krm1t  You wouldn't by any chance found any sort of break through?

I've gotten so far that I can access the pod running Plex server via browser (<pod ip>:32400/web). Howerver, I can't seem to get the Plex setup screen for the server itself. Just get the Plex login screen. If I login it takes me to the normal plex web interface (listing any other server tied to my account) and I don't have any wa

[2020-01-31 03:54] Wetteborn commented on #69
And I totally just got it working...of course after I made a post.

I had to SSH tunnel to the pod.
sudo kubectl port-forward <plex pod name> --namespace=plex 32400:32400

Had to add the --namespace=plex beacuse it's not the default namespace setup.

And then access it via localhost:32400/web apparently Plex will only go through setup using localhost not pod IP, cluster IP, or even 127.0.0.1.

[2020-01-31 05:51] Krm1t commented on #69
@Wetteborn You actually got further than I do.
When I deploy my plex it enters a crash loop because the liveness and readyness probes gets a connection refused from the /identity url.
I have yet to find out why.

[2020-02-01 18:49] Wetteborn commented on #69
@Krm1t Hmmm, yeah didn't run into that issue myself. I'm running Ubunutu 19.10 Server edition used Microk8s for my Kubernetes install, had to modifiy some of the commands to install kube-plex just to have it play friendly with Microk8s but mostly alias related things nothing over the top.

From my last comment I am having an issue with claiming the Plex instance but it's related to the facy my pod

[2020-02-01 20:21] simplyzee commented on #69
I am also using Microk8s. I needed to enable the DNS addon to be able to use plex properly.

`microk8s.enable dns`

I’ve also set the service type for plex to `NodePort`. This way I can access the plex service via the NodePort that Kubernetes assigned. I also used this port for the remote access page so that I can see plex from the internet.

Cheers
Zee

[2020-02-03 18:44] Krm1t commented on #80
For anyone having the same issue I finally figured it out.
My 2 persistent volumes pointing to my NFS shares were wrong.

My nfs section was specified like this
[code]

Once i changed it to the following the pod started working
[code]

I'm not sure which of the 3 changes that did the trick or a combination of them all.
The funny thing is that i could see files be created in the folder so it was so

[2020-02-03 18:44] #80 closed, assigned to nobody

[2020-02-04 20:08] onedr0p commented on #82
Are there any logs you can provide?

[2020-02-04 23:59] shrinedogg commented on #82
Which logs would you like, specifically?

I've since moved on with this install by disabling elastic encoding after trying both the :latest branch and the one hardcoded into the yaml. Both versions would report to be playing in PMS, but the client showed no data at all; but I'd more than happy to provide what's needed to help solve this issue.

[2020-02-13 09:57] onedr0p commented on #60
I believe this issue can be closed, thanks @drewstinnett !

[2020-02-13 09:58] #60 closed, assigned to nobody

[2020-02-17 11:42] MansM opened #87 "Pod wont start, due health check failing"
is there any more logs then whats below?

Pod Logs:
[code]

[2020-02-19 13:59] MansM commented on #87
In a new version of the plex image I did get feedback and it was a permission problem...
doing a nasty chmod 777 -R /config solved the issue

[2020-02-19 13:59] #87 closed, assigned to nobody

[2020-02-29 16:36] kjellmoens opened #89 "Restart of pods"
Hi, I

I needed to restart my pod but the plex server does not seem to be available.
Should it auto start ?

Thx

[2020-03-06 02:04] gclawes commented on #19
With the Raspberry Pi 4 out it'd be great to have an official arm64 image.

[2020-03-08 14:29] MansM opened #90 "failed to start because of missing folders"
when using transcoder persistance set to true:

pms std out:
[code]
and nothing visable in events (except for starting but no error)

Transcoder Persistance set to false:
from the events log:
[code]
from the plex server stdout:
[code]

anyone any idea?

[2020-03-09 10:47] ChaosInTheCRD opened #91 "pms-elastic-transcode issue debug"
Hi kube-plexers!

I have deployed using helm, along with 2 pvc's, 1 for the configs and the transcoding to sit in, and the other for the content libraries.

I am currently experiencing some issues in a couple of scenarios... and I'm wondering if anyone knows how I should tackle them.
- When trying to run a file with transcode, it works all the way down to 720p 3MBps... but then at 2MBps it fails t

[2020-03-20 15:26] ccomarato commented on #20
I have a similar question.  I have an existing Plex server that I have configured on Windows that is working exactly the way I want it to; however, I'd love the ability to offload transcode jobs to a Kubernetes cluster.  Is there any way to plugin a shim like this on an existing Plex server installation and leverage kube-plex or something similar for the elastic transcoding without having to provi

[2020-03-23 19:56] PiperMp3 opened #92 "pms-elastic-transcoder pod fails to start - is this project still up to date?"
Hello,

Been trying to get this project going inside a Minikube cluster.
I can set it up, eventually after a-loooot of adjustments to the values the project kicked in and started OK.
I had to run with kube-plex disabled, as when it was enabled the pods would be going into ContainerCreating and straight into Error and then they disappeared.
Journalctl showed no logical reason, nor did Plex itself.

[2020-03-23 20:14] onedr0p commented on #92
I have no issue with using this as a helm chart for Plex within a k8s cluster. I do not use kube-plex for transcoding offloading (I have `kubePlex.enabled` set to `false`)

This project is in dire need of help from the community, @munnerz has been pretty busy with other projects.

[2020-03-23 20:49] PiperMp3 commented on #92
Hi onedr0p,

My goal was to either have very few plex-kube-plex pods, offloading transcoding with kubeplex. OR scaling up plex-kube-plex pods balancing the transcoding within the core pods.
As the offloading failed with the pms-elastic-transcode pods dying everytime, I re-deployed (helm upgrade --install) setting it to false.
The transcoding then worked directly on the plex-kube-plex pods.
Even sc

[2020-03-23 21:05] onedr0p commented on #92
Sorry I cannot help much, but don't scale and I think you issue would be resolved. For reference check out my helm values [here](https://github.com/onedr0p/k3s-gitops/blob/master/deployments/default/plex/plex.yaml#L18)

[2020-03-25 04:23] todaywasawesome commented on #92
It seems likely that this is resources related. The most common issue i see with minikube is resources. Run kubectl describe nodes, and try getting the logs from the pods with kubectl logs --follow [podname].

When you describe nodes, it'll probably report being out of memory. If so, you'll need to free up resources.

[2020-03-26 20:38] Krm1t commented on #61
Hey

I'd like to expand on this issue as i think i have the same problem.
Let's first get my setup out of the way.
Data is stored on my NAS let's just call it Storage
kube-plex is hosted on my kubernetes server called master-node
Data is accessed via nfs PersistantVolumes (data volume defined below)
[code]

Once kube-plex is up and running i do a port-forward to access plex so i can set up the ser

[2020-03-26 20:45] geek-baba commented on #61
Yes same issue, its definitely kube-plex issue and I could not use this at that time, now I see you have ability to mount multiple directories and that should solve the issue. I use plexinc image and have no permissions issues. This could also be solved if kube-plex let me set the uid and gid of the container before it starts.

[2020-04-02 04:03] suavelizard commented on #92
I believe I have a similar or related issue. Inspecting the transcode pods yields:
`Error: failed to create containerd task: OCI runtime create failed: container_linux.go:345: starting container process caused "process_linux.go:424: container init caused \"mkdir /config/Library/Application Support/Plex Media Server/Cache/Transcode/Sessions/plex-transcode-4xibiojh3al6u0yrivdraaoi-4ec87297-1943-40b7

[2020-04-04 19:34] typeon3g opened #93 "Unable to transcode EAC3 audio"
I'm having trouble and I think I'm a bit out of my depths. Where is the configuration of the transcode pods held or defined? I'd liek to try some things to try and get the EasyAudioEncoder to work as it's trying to do things in /tmp on both the PMS instance and the transcode pods. It's not using /transcode for the audio.

For some context here are the errors in the plex console.

`Job running: EAE

[2020-04-14 01:31] runecalico opened #94 "Extra Data mounts are not also mounted in transcoder pod, transcoding fails"
Having the persistence.extraData mount options in the helm chart is super awesome as I don't have all of my media under a single share .. Unfortunately it looks like when the transcoder pod is created, it doesn't pass any of the extraData mounts to the transcoder, so attempts to transcode any file contained in one of those extraData mounts fails.
The transcoder pod deployment yaml doesn't show tho

[2020-04-14 16:38] kjellmoens opened #95 "Kube-plex no longer installing"
Hi,

I have some scripts to install kube-plex but since the last pull from your repo, the kube-plex does not install anymore. It just goes directly to the web page without giving you the options to setup a server.

Can you please help ?

Thx

[2020-04-14 18:56] onedr0p commented on #95
From the amount of reports I think we can gather kube-plex is broken. We're out of luck until a maintainer steps in or @munnerz comes back. Use the flag `--set kubePlex.enabled=false` until it's fixed

[2020-04-14 18:56] onedr0p commented on #94
From the amount of reports I think we can gather kube-plex is broken. We're out of luck until a maintainer steps in or @munnerz comes back. Use the flag `--set kubePlex.enabled=false` until it's fixed

[2020-04-14 19:25] kjellmoens commented on #95
Well this one is a false alarm. It wasy that did not realize that one of my
pvc was retaining its information.

On Tue, 14 Apr 2020, 20:56 Devin Buhl, <notifications@github.com> wrote:

[2020-04-15 11:56] simplyzee commented on #94
I will take a look at it to see what the issue is with the transcoder pods and see if I can push a fix out to get this working again.

[2020-04-15 11:58] simplyzee commented on #92
There are multiple issues now regarding this - please see: https://github.com/munnerz/kube-plex/issues/94#issuecomment-613993411

[2020-04-15 13:27] simplyzee commented on #95
Thanks for letting us know it was a false alarm.
Please see reference in regards to transcoder pods - I will close this issue.

https://github.com/munnerz/kube-plex/issues/94#issuecomment-613993411

[2020-04-15 13:27] #95 closed, assigned to nobody

[2020-04-15 21:59] runecalico commented on #94
Understood. I was submitting the report under the concept of "I might get lucky and someone knows how to do this and is willing to do it too" :)

[2020-04-16 04:17] Sphyrna-029 opened #96 "Issue with Helm: Error: This command needs 1 argument: chart name"
When running the helm install command I get the error:
[code]

Command:
[code]

Helm client and server version:
[code]

I'm not very familiar with helm. Any help is appreciated.

[2020-04-16 04:29] Sphyrna-029 commented on #96
Found a solution in https://github.com/munnerz/kube-plex/pull/72/commits/5e126d3d12816adfde598589d897f32913901bc4

[2020-04-16 04:29] #96 closed, assigned to nobody

[2020-04-17 17:45] runecalico commented on #93
Not sure if this is true, but this very old comment indicated that at one point in time EAE looked to be hardcoded to use /tmp - https://github.com/wnielson/Plex-Remote-Transcoder/blob/master/prt.py#L324

[2020-04-18 00:26] runecalico commented on #81
it looks like cert-manager has quite a few requests for this:
https://github.com/jetstack/cert-manager/issues/586
https://github.com/jetstack/cert-manager/issues/2702

and the latest version of cert-manager looks to have some kind of experimental support for generating some  alternative formats
https://cert-manager.io/docs/release-notes/release-notes-0.14/#experimental-bundle-format-support-jks-an

[2020-04-18 18:31] runecalico commented on #93
Try adding the environment variable TMPDIR to the container and point it to /transcode
From looking at some environment variables being used by Plex on a QNAP NAS, that is one of the one's they are setting and it does look like at least some things in PLEX will honor it.  Good Luck

[2020-04-18 20:47] JoseThen commented on #19
Hey @mauroniewolskicesca , I know its a little late but how did you modify it ? Might be a good idea to use those steps and set up a pr for this repo so others can use.

[2020-04-19 18:35] runecalico commented on #94
We might be able to try using a PodPreset to expose certain ENV and Volumes to the transcoder instead of having to modify the go .. however that would still require the transcoder pods be created with a label or something that could be used to target them.
https://kubernetes.io/docs/tasks/inject-data-application/podpreset/

[2020-04-21 16:04] wrender opened #99 "Networking - Remove vs Local"
Fantastic helm chart thanks!  I think this is just my confusion with networking in Kubernetes, but I am having issues with Plex distinguishing between local and remote traffic with my Plex installation using this helm chart.  Plex seems to always see traffic as coming from my virbr0 ip of 192.168.1.122/24 whether it is coming from a port forward on the router, or going to Plex from TVs on the loca

[2020-04-22 01:53] wrender commented on #99
I was able to resolve this by deleting the ingress, deleting the service, and then setting the following to allow host networking in the deployment.  I also had to delete the ports: defined in the deployment. This would only be useful if you just want to run one Plex instance, on a single server type of thing.
[code]

Now if a remote plex user connects in from the internet -> router. It is recogni

[2020-04-22 01:53] #99 closed, assigned to nobody

[2020-04-22 13:13] wrender opened #100 "Project maintenance"
A bunch of people have commented in https://github.com/munnerz/kube-plex/pull/97#issuecomment-617764070  that PRs are not getting merged in efficiently and project appears to be unmaintained.

Is it possible to add a few trusted users as admins on this project?  Also so it can get added as an official helm chart.

[2020-04-25 18:52] todaywasawesome commented on #12
I'm working on getting this to work with the kube-plex on multiple pods but I haven't quite figured out the syntax for adding the limits/requests in the pod creation.
https://github.com/todaywasawesome/kube-plex/blob/trasncode/main.go#L125

My thought was to add them as environment variables on the kube-plex container but I'm stuck having little familiarity with using the client-go to creating the

[2020-04-28 14:57] simplyzee commented on #100
/cc @munnerz

[2020-05-01 04:15] miguemely opened #101 "Question regarding existing plex servers"
This is mostly a question, and not really an issue, but will this work with a *already set up* Plex server or will I need to run it on Kubernetes to get the full functionality?

[2020-05-03 07:52] jtv199 opened #102 "Error: create: failed to create: namespaces "plex" not found"
Hi, I'm trying to run plex-Kube on my ubuntu. Though I am encountering this error. Though Plex media server runs fine. I am not sure what the problem is.

[code]

[2020-05-03 22:03] gwyden commented on #101
@miguemely you need to run it in kubernetes.   The shim for the transcoder could be faked out but that will givey ou some very strange behavior unless you can share your media and the transcode and the tmp folders.  Now that I've gotten into the code i think it might be possible to use the shim but not as it stands right now.

[2020-05-03 22:08] gwyden commented on #102
did you create the namespace?   the namespace is not defined in the helm chart.  Where did you create your pvc? that is namespace dependent .

List Namespaces:
kubectl get ns -A

List pvc with namespace
kubectl get pvc -A

If you just need to create the namespace a simple `kubectl create ns plex` will get the job done

[2020-05-03 22:11] gwyden commented on #93
I couldn't get the TMPDIR to work but forcing the /tmp to be mounted to the same pvc as the transcode did the trick for me.  Also had to edit the shim to spin up the transcode pod with the same /tmp being mapped to the transcode pvc and it works like a champ.

[2020-05-04 06:05] miguemely commented on #101
Gotcha. I have some Nvidia TK1s and Intel NUCs I wanted to use for this, but would be nice if 10gb was available as well.

[2020-05-04 06:05] #101 closed, assigned to nobody

[2020-05-04 07:40] kriefsacha opened #103 "Kube-plex pod stuck in ContainerCreating status"
Hi,

I'm quite new with this so sorry if i understood something wrong.

I'm on windows with an Ubuntu v20.04 VM.

I succeeded until i run the

[code]

which succeeded but when i run

`kubectl get po -n plex`

I see the pod but in Pending status for 15 hours.

[code]

I don't see what i'm missing if someone can help please.

Thank you !!

[2020-05-04 08:12] kriefsacha commented on #103
I have more info , i tried to do it on another namespace , same thing , i did the command:

`kubectl describe pod plex -n media
`

This is the result i got:

I understood from this that it's because of `--set persistence.data.claimName=existing-pms-data-pvc` so i did another instance without it , still in pending. That it's the description:

If that can help !

[2020-05-04 09:40] kriefsacha commented on #103
I succeeded to create a PV and PVC which i did with a new instance (again ..). Now it's on ContainterCreating status. When i did a command to get the events i get :

[code]

I followed the tutorial of the link : https://kauri.io/57-selfhost-your-media-center-on-kubernetes-with-p/8ec7c8c6bf4e4cc2a2ed563243998537/a#comments

And from there created the PV and PVC.. I don't understand anything.

Sorry

[2020-05-04 13:21] gwyden commented on #103
@kriefsacha if you do a kubectl get pv  and a kubectl get pvc and do you have all pvcs atttached to pvs?

[2020-05-04 13:24] kriefsacha commented on #103
@gwyden if i do get pv i get :

[code]

if i do get pvc -n media i get :

[code]

[2020-05-04 16:13] gwyden commented on #103
@kriefsacha so i see you have a pv called media-ssd and a pvc called the same and the claim is bound but i do not see any other claims for the other volumes

Specifically this line leads me to think the pod is asking for more pvcs.  Or even the PVC assigned to your data is not the same one that is being claimed for the pvc.

For example here is a kubectl describe pod <pod> -n plex from my cluster

[2020-05-04 18:22] kriefsacha commented on #103
@gwyden thanks for your answer. I didn't know that it's needed a different pvc for the different properties. I'm gonna try that tomorrow. Do we need also multiple PV ? Or one PV and multiple pvc's it's enough

[2020-05-05 07:25] kriefsacha commented on #103
From what i saw it's not possible to bind multiple PVC's to the same PV so i need also multiple PV's ..

Maybe would be good to change that on the docs.

Going to try that just right now

[2020-05-05 08:01] kriefsacha commented on #103
Okay @gwyden i did three PV's and three PVC's. It's been great man thanks to you !! Now it's on status Running and Ready is 1/1.

But there is something weird , i created the pod with the command :

But on describe i see :

Which transcode is empty , weird ..

[2020-05-06 07:44] jtv199 commented on #102
Yes I think that was the problem, Thanks.

I have received this in response

[code]

But I cannot see it in `kubectl get pods` as it only shows

[code]
Nor am I able to access the link http://chart-example.local. Sorry, I am still a bit new to Kubernetes.

[2020-05-16 17:43] todaywasawesome commented on #43
@tardich Don't mind me showing up a year late to answer your question.

You mentioned that you have an ingress. You should use that as your ADVERTISE_IP. In the GUI, the ADVERTISE_IP goes into the "Customer server access URLS", which works with a comma separated list of urls. For example, mine is `http://plex.10.0.0.18.nip.io/` which is the host my ingress is looking for.

This field lets you set

[2020-05-17 17:34] hectorleiva commented on #103
@kriefsacha how's your plex instance working out after having added those PV/PVC's?

I ended up having to edit the `deployment.yml` so that instead of creating 3 separate PV/PVC's for `config`, `transcode`, and `data` - it would all point to the same PV/PVC. Mine has been working as expected since I made that change.

[2020-05-17 17:37] hectorleiva commented on #102
@jtv199 I think you need to also specify in `kubectl get pods` the namespace as well?

`kubectl get pods -n plex` should return all the pods within the `plex` namespace.

What do you get when you run `kubectl get all -n plex`?

[2020-05-21 07:47] jtv199 commented on #102
Yes, After I ran `kubectl get all -n plex` it seems to be here. I am not sure why its not ready though.

[code]

[2020-05-21 08:01] jtv199 commented on #102
here is what I get by running `kubectl describe pod plex-kube-plex-678f84659b-rhljv -n plex`.

[code]

[2020-05-23 10:11] jcsho commented on #103
hi @hectorleiva, could you explain if you changed it from the volume mounts or the env section?

[2020-05-28 00:59] hectorleiva commented on #103
@justinhodev I basically modified the `deployment.yml` file so that the `volumeMounts.name` were all the same, pointing to my single volume mount and there's only one volume entry.

so `volumeMounts` looks like this for me:
[code]

and the Volumes looks like:
[code]
as a single entry.

This is what is running on my Raspberry Pi Cluster and it seems to work. Not sure how sustainable it is, but that

[2020-05-30 21:20] hectorleiva commented on #102
`persistentvolumeclaim "existing-pms-data-pvc" not found` is a pretty interesting find.

try:
[code]

It needs to return something like this:
[code]

and definitely relate to your actual Persistent Volume like this:
[code]

[2020-05-31 07:11] jtv199 commented on #102
ok, when I entered `kubectl get pv -n media`
I recieved `No resources found in media namespace.`

then i checked `kubectl get pvc -A`
[code]
I didn't create the media namespace before using the helm chart, should I have done that?
Also should Have replaced `--set persistence.data.claimName=existing-pms-data-pvc` with the location of my media files or is it fine the way it is?

[2020-05-31 16:41] hectorleiva commented on #102
You didn't have to create the `media` namespace, I happened to have done that; but you used `plex`, so that's fine.

It sounds like the issue is that you created a Persistent Volume Claim called `plex-kube-plex-config`, but without an actual Persistent Volume - it won't do anything.

As far as I understand, PV (Persistent Volume) is the actual volume itself. It is an abstraction term because your

[2020-06-03 17:42] tedder commented on #18
For future googlers, accessing the pod over the load balancer, or ingress, or whatever doesn't work for initial setup. The key is to use `kubectl port-forward` like nickray did. Simply saying "oh, I can access it over 32400" doesn't mean it sees you as local.

I don't know if there's a way to configure this, but yeah.

[2020-07-23 21:51] typeon3g commented on #93
This is exactly what I was trying to do however I couldn't figure out how to hack it in. Still learning on how the shim part works and what/where to edit to tell it to use the Transcode PVC.

[2020-07-24 02:12] gwyden commented on #93
@typeon3g I can give you my compiled shim and the config i used to get the deployment and replica set up and running.  it might take a little tweeking to get right as i am using some distributed storage for my volumes but it should be pretty simple ifn you trust me ;)

[2020-07-24 02:27] gwyden commented on #93
The shim was easy to make a change to here is the diff:
[code]

Where my changes to the deployment.yaml are here.   I left the old copy of the kube-plex to /shared but i replaced the location to pull from to my downloads mount .  I am also including the UID and GID changes because why not.
[code]

[2020-08-18 15:24] jonny-ervine commented on #92
This is due to not setting the transcode directory in the Plex Server settings. Assuming you have left the values as default in the helm chart, then you need to set the transcode directory to /transcode
This should allow the transcoding within the Plex Media Server pod to work (but the 'elastic transcoder' will still not work as detailed in many other posts)

[2020-08-24 02:07] jantznick commented on #19
Is there any thought of doing this? I thought I saw somewhere before you can just update the download file but I don't remember if that was this build or a different one and can't find it again.

[2020-08-24 03:00] JoseThen commented on #19
Using @archite 's comment I was able to build for ARM, I'll post here later this week more info, wouldn't be a bad PR for this repo!

[2020-08-27 21:02] Rahulsharma0810 opened #106 "Infinite Numbers of transcoder pods"
After restarting node/cluster, I see lots of pod `pms-elastic-transcoder`, I just deleted 600 Failed/Terminated Pods and they are again cluster.

![image](https://user-images.githubusercontent.com/9934859/91493485-02bf7000-e8d5-11ea-87ed-8aeef6f59085.png)

Regards,
Rahul Sharma

[2020-08-29 03:11] jantznick commented on #19
@JoseThen Wasn't understanding that comment at first, so it basically replaces the version of plex being pulled in the Docker file?

[2020-08-29 13:41] JoseThen commented on #19
Yes, it first does a different arch build with Go and changes the image name in the dockerfile, I have time I'll post again later today

[2020-08-29 16:01] JoseThen commented on #19
For those looking I forked this repositoryand switched it to build for ARM, you can see the main diff here: https://github.com/munnerz/kube-plex/compare/master...JoseThen:master

I have it set to push to my own docker registry. I recommend building this out on your own, because its a great learning process.

[2020-08-30 20:14] #38 closed, assigned to nobody

[2020-09-01 15:04] todaywasawesome opened #107 "How to fix Android and Roku connection issues"
When using an iOS device or the web the Plex interface shows right up. When using Roku or Android is usually doesn't work though refreshing lots of times sometimes works. This is because Plex uses different ports for advertising services to Roku and Android and unfortunately they use both UDP and TCP.

You'll need to do some yak shaving to enabling all of these ports https://support.plex.tv/articl

[2020-09-01 15:04] todaywasawesome commented on #107
More info on setting shared ip in metallb https://metallb.universe.tf/usage/#ip-address-sharing

[2020-09-04 17:45] somerandow commented on #12
I'll see if I can take a look at this as well, as this is a feature I would like to make use of if possible.

[2020-09-06 07:03] SDAdham commented on #99
Hi wrender,

Can you please clarify how you added this? I can't get remote access enabled on kubernetes deployment, I have deployed plex using helm charts.

[2020-09-08 23:00] johnfried commented on #103
@hectorleiva this is really useful and should help me as well. Thank you so much. I am confused as to the deployment.yaml file. Is it the one that lives under /charts/kube-plex/templates? If so, this file is hard to read with the formatting:

"volumeMounts:
        - name: data
          mountPath: /data
        {{- if .Values.persistence.data.subPath }}
          subPath: {{ .Values.persistence.d

[2020-09-23 20:24] Nwhouse opened #108 "Issue mounting CIFS share"
Hello. I am trying to setup Kube Plex on my cluster and to use  a network share for the present share.
It seems like I have everything setup but I am getting this error when I try to start the pod up.
Any help would be great. I an still learning this.

Thanks!

MountVolume.SetUp failed for volume "kube-store" : mount command failed, status: Failure, reason: Error: Error running cmd [cmd=/usr/bin/m

[2020-09-30 15:57] 11jwolfe2 commented on #103
Don't know if this is related or not but figured id post this here for help. So I am creating a pod with success (status=running, Ready = 1/1 log shows "Starting Plex Media Server") But when I go to my LoadBalancer IP:port, All I see is XML, no server set up page.

Solved:   Did not realize claim codes were only valid for 4 minutes. I had other issues creating my pod. Solved those issues, had to u

[2020-10-07 09:50] d3xma opened #109 "Server not found"
Hey everybody,

is just installed the chart on my cluster, but accessing the dashboard results in an infinite search for the server.
It seems that the server running in the cluster cant be found.

Do you have any solution or idea whats causes this problem?

BR

[2020-11-02 21:34] o4fr commented on #19
Great work @JoseThen. Does it also work for arm64 e.g. Raspberry Pi 4?

[2020-12-13 16:33] cjriemens opened #110 "Container plex failed liveness probe, will be restarted"
is there anyone who can help me with the following problem?

This is my first time working with kubernetes. and I run into the problem that my pod keeps restarting every time.

in error.txt I made a copy of kubectl describe pod
if someone can help me with this would be great
[error.txt](https://github.com/munnerz/kube-plex/files/5684956/error.txt)

Is it true that under service / plex-kube-plex th

[2020-12-26 05:06] gclawes commented on #19
Any update on this?

[2021-01-01 07:23] Zageron commented on #109
This has happened to me as well.
Installed `helm install plex ./charts/kube-plex --namespace plex --set claimToken=myclaimtoken --set service.type=LoadBalancer`

[code]

Opens the page just fine, logs me in to my account, shows my existing server running. If I disable my existing server, I don't see a new server that should be here.

Any ideas?

Edit: More details

[code]

[2021-02-26 03:05] lethek commented on #109
I've been struggling with seemingly the same issue for the last couple hours. However, I've been using an Ingress rather than a LoadBalancer service. The ingress acted exactly the same as @Zageron described - I was able to log in, but the web-UI only showed my pre-existing Plex servers from elsewhere which were linked to my account.

What finally worked for me just now was (despite the new ingress

[2021-03-05 01:06] starcraft66 opened #112 "Plex client 404 Error fetching transcoded stream"
Hi, I've deployed kube-plex along with the rest of my mediaserver stack using Kustomize.
Everything seems to be working (communication between the plex transcoding pods and main PMS instance is working perfectly) but when I try to play a video on plex, it never starts and when looking at the Network tab of firefox's debug tools, I can see that the plex webapp is hitting 404 errors when querying pl

[2021-03-06 22:09] #84 closed, assigned to nobody

[2021-03-21 08:04] ThePrincelle commented on #112
Same issue on my end. Really frustrating because aside from that everything is working.

[2021-04-16 13:55] jr0dd commented on #110
I'm using a TCP probe on port 32400. Although this works, I'm looking for something more precision for startup, liveness & readiness

[2021-04-24 10:16] Mynuber commented on #22
I spent a good few hours fiddling with it. Thanks for the comment @Niksko . Fixed my problem

[2021-05-13 18:33] annabarnes1138 commented on #55
I realize this issue is old, but since it is still open and no comments, I thought I would ask if there has been any movement. I too am interested in this.

[2021-05-30 13:03] tibbe commented on #109
I had the same issue and @lethek 's answer above worked for me.

[2021-07-28 17:37] vitobotta commented on #103
Hi, just wanted to thank you.... I spent hours trying to get my deployment to work with an nfs volume and only with your changes I was successful :)

[2021-07-28 19:18] vitobotta commented on #103
@hectorleiva I celebrated too soon :D So I Plex now starts and I can see the media in my library, but transcoder pods get stuck for the same reason. What should I change for that to work? Thanks!

[2021-07-30 15:15] hectorleiva commented on #103
@vitobotta I could never get the transcoder to work in my set-up because I was warned that the Raspberry Pis weren't powerful enough to do the transcoding work that would be required for Plex.

I don't even think I've gotten that to work on my Synology NAS DS720+ using the Plex app on there neither. This might be something you could avoid altogether if you are able to play the videos. I've had to

[2021-09-12 23:19] karezza opened #116 "--set ingress.enabled=true does not work with latest kubernetes, what else do i need to add to my ingress?"
The error went by quick but looks like the ingress api version used by this chart is no longer supported w/ kube v1.22.1.

I created my own ingress and pointed it at 32400.

I can log in and it detects my old docker-based server and I can watch videos hosted over there but it doesn't see this new server.  I was looking to configure the server as documented in step 4, but have been unable to procee

[2021-09-16 00:38] karezza commented on #112
same here

[2021-09-18 16:35] Komorebi-E commented on #116
@karezza Kubernetes 1.22 removed the beta Ingress API versions. See the release notes for the changes to the spec:

https://kubernetes.io/docs/reference/using-api/deprecation-guide/#ingress-v122

[2021-10-05 12:59] mari0theminer opened #117 "build docker image with more architectures"
Hey, i love this project and what to try it in my own cluster.
Sadly my cluster is mainly build on Arm nods not arm64 (Raspberry Pi cluster)
could you maybe add sou port for arm in the docker file ?

[2021-10-07 03:14] djeebus commented on #112
I had the same issue; for me it was b/c I was trying to transcode a video in a volume added via `extraData`. those mounts aren't added to the pms-elastic-transcoder pod, so it ended with a 404. switching that mount to the `data` mount fixed my issue.

[2021-10-11 15:44] jump912 commented on #110
I'm also facing the same problem. From the pod's event, there's a message "Readiness probe failed: Get "http://10.1.221.248:32400/identity": dial tcp 10.1.221.248:32400: connect: connection refused". 10.1.221.248 is the pod's cluster IP. However, when i try calling the /identity URI through the LoadBalancer ip (http://<LoadBalancerIP>:32400/identity), i gets a respond with the machine identifier.

[2021-10-11 15:54] jump912 commented on #110
Updates:

I exec into the pod's shell and ran the following curl. as it turn out, the pod have no problem accessing the /identity URI. then what gives the error event?

I left the whoami and the first curl here in case that meant something.

# whoami
root

# curl http://10.1.221.248:32400
<html><head><script>window.location = window.location.href.match(/(^.+\/)[^\/]*$/)[1] + 'web/index.html';</scr

[2021-12-22 10:17] LPnave commented on #16
@ralphte Hi, Im trying this on an on prem kubernetes environment. And I face the same issue with the transcoding. Can you tell me where and what exactly needs to be changed? I tried with a dns of the pod but it still failed. Thanks in advance

[2022-02-20 17:51] DrissiReda opened #118 "Kube Plex behind Ingress. Not available outside your network. Direct connection is not available."
I'm using plex in my kubernetes cluster. I access it via nginx ingress.
But in the "Remote Access" Tab . I have the error: "Not available outside your network"

These are my settings:

<details>

<summary> deployment.yaml </summary>

[code]
</details>

<details>

<summary> service.yaml </summary>

[code]
</details>

This works perfectly for me, besides the remote access issue.

I need this, becaus

[2022-03-02 04:23] bidluo commented on #118
I could never get it to work regardless of kube-plex or not so what I did instead was just expose 32400 as a NodePort and used `external-dns` to update the DNS record to point to the corresponding node/pod.
I originally followed this guide: https://mike.sg/2021/08/31/digitalocean-kubernetes-without-a-load-balancer/

Works fine for me and I've even disabled relay so it won't even play at  limited s

[2022-03-12 20:48] #100 closed, assigned to nobody

[2022-03-22 22:14] manuelkasiske commented on #110
I faced the same problem. It went better after I scalled up to a replica count of 2.

[2022-04-12 02:21] ianhundere commented on #110
i've run into this issue before. i can't seem to figure out the cause. i thought it was maybe resources, but i've given 4gb for mem and 4000m cpu.

i'll try bumping the replica count up 🤞

[2022-07-21 06:07] manuelkasiske commented on #110
@ianhundere : True, it corrupts the db, if you run plex on multiple nodes. I just run 2 instances on the same node. This works.